#small, #medium, #large {
  display: none;
}

@media screen and (max-width: 480px) {
  body {
    width: 100vw;
    height: 100vh;
    background-color: red;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    place-items: center;
  }

  #small {
    display: grid;
    margin: 0 auto;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    text-align: center;
  }

  h1 {
    font-size: 0.7em;
  }

}

@media screen and (min-width: 481px) and (max-width: 1024px) {
  body {
    width: 100vw;
    height: 100vh;
    background-color: green;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    place-items: center;
  }

  #medium {
    display: grid;
    margin: 0 auto;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    text-align: center;
  }

  h1 {
    font-size: 1.1em;
  }     

}

@media screen and (min-width: 1024px) {
  body {
    width: 100vw;
    height: 100vh;
    background-color: blue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    place-items: center;
  }

  #large {
    display: grid;
    margin: 0 auto;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    text-align: center;
  }

  h1 {
    font-size: 2em;
  }

}